{% extends '__base__.html' %}

{% block beforehead %}
<link rel="stylesheet" href="/static/src/css/scojs.css">
<link rel="stylesheet" href="/static/src/css/colpick.css">
<link rel="stylesheet" href="/static/src/css/main.css">
<style>
a:hover {
    text-decoration:none;
}
</style>
{% endblock %}

{% block content %}
<!-- 标题和up主 -->
<div class="row">
    <div class="col-md-offset-1 col-md-10" style="margin-bottom:20px">
        <div class="row">
            <div class="col-md-7" style="padding:0px">
                <h2>{{ video.title }}</h2>
                <div>
                    <span>
                        <span class="glyphicon glyphicon-play-circle"></span>
                        {{ video.play_records.count() }}
                    </span>
                    <span style="margin-left:20px">
                        <span class="glyphicon glyphicon-comment"></span>
                        {{ video.comments.count() }}
                    </span>
                </div>
            </div>

            <div class="col-md-offset-1 col-md-3" style="padding:0px">
                <div class="row">
                    <div class="col-md-4">
                        <img src="/static/img/pic.jpg" style="width:60px;height:60px;border-radius:30px">
                    </div> 
                    <div class="col-md-8" style="height:60px">
                        <a>up主</a>
                        <p>个性签名</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 视频和弹幕 -->
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <div class="row">
            <!-- 视频 -->
            <div class="col-md-7" id="danmup">
            </div>
            <!-- 弹幕 -->
            <div class="col-md-4" style="padding:0px">
                <div style="text-align:center;height:30px;line-height:30px;background:#f6f9fa">
                    <strong>弹幕</strong>
                </div>
                <div class="row" style="margin:0px;height:30px;border:1px solid #ddd;background:#F4F4F4;border-bottom:none;">
                    <div class="col-md-3" style="height:30px;line-height:30px;text-align:center">
                        时间
                    </div> 
                    <div class="col-md-5" style="height:30px;line-height:30px;text-align:left">
                        评论
                    </div>
                    <div class="col-md-4" style="height:30px;line-height:30px;text-align:left">
                        发送日期
                    </div>
                </div>
                <div style="height:430px;overflow-y:scroll;border:1px solid #ddd;border-top:none;overflow-x:hidden">
                    <ul style="list-style-type:none;padding:0">
                        {% for danmu in video.danmus %}
                            <li>
                                <div class="row" style="margin:0;margin-right:-15px;border-top:1px solid #ddd;">
                                    <div class="col-md-3" style="height:25px;line-height:25px;text-align:center">
                                        {{ danmu.time | danmu_time }}
                                    </div>
                                    <div class="col-md-5" style="height:25px;line-height:25px;text-align:left;overflow:hidden;text-overflow:ellipsis;white-space:nowrap">
                                        {{ danmu.text }}
                                    </div>
                                    <div class="col-md-4" style="height:25px;line-height:25px;text-align:left">
                                        {{ danmu.danmu_time | danmu_datetime }}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 评论区域 -->
<div class="row" style="margin-top:100px;">
    <div class="col-md-offset-1 col-md-10" style="">
        <div class="row">
            <div class="col-md-8" style="padding:0px;border-bottom:1px solid #ddd">
                <h2>{{ video.comments.count() }} 评论</h2>
            </div>
        </div>
        <div class="row" style="height:20px">
        </div>
        {% if video.comments.count() > 0 %}
            {% for comment in video.comments %}
            <div class="row" style="height:100px">
                <div class="col-md-1" style="height:100px;line-height:100px;padding:0px">
                    <img style="height:48px;width:48px;border-radius:24px;margin-left:0px" src="/static/img/pic.jpg">
                </div>
                {% if loop.index == 1 %}
                <div class="col-md-7" style="padding:0px;height:100%;border-top:1px solid #ddd;border-bottom:1px solid #ddd">
                {% else %} 
                <div class="col-md-7" style="padding:0px;height:100%;border-bottom:1px solid #ddd">
                {% endif %}
                    <!-- 用户名 -->
                    <div class="row" style="margin-top:10px;margin-left:0px;height:20px">
                        <a href="#" style="font-weight:bold;color:#6d757a;font-size:12px:text-decoration:none">{{ comment.user.username }}</a>
                    </div>
                    <!-- 评论 -->
                    <div class="row" style="margin-top:10px;margin-left:0px;height:20px;line-height:20px">
                        {{ comment.content }}
                    </div>
                    <!-- 时间、楼层等信息 -->
                    <div class="row" style="margin-top:10px;margin-left:0px;height:20px">
                        <span style="color:#aaa">#{{ comment.sort }}</span>
                        <span style="color:#aaa;margin-left:20px">{{ comment.comment_time | danmu_datetime }}</span>
                    </div>
                </div> 
            </div>
            {% endfor %}
        {% endif %}
        <div class="row" style="height:60px;">
            <div class="col-md-8" style="height:100%;border-bottom:1px solid #ddd">
            </div>
        </div>
        <div class="row" style="height:60px;margin-top:20px">
            <div class="col-md-1" style="height:60px;line-height:60px;padding:0px">
                <img style="height:48px;width:48px;border-radius:24px;margin-left:0px" src="/static/img/pic.jpg">
            </div>
            <div class="col-md-6" style="padding:0px;height:100%">
                <textarea class="form-control" style="height:100%;width:95%" placeholder="请自觉遵守互联网相关的政策法规，严禁发布色情、暴力、反动的言论。"></textarea>
            </div>
            <div class="col-md-1" style="height:100%;padding:0px">
                <input type="submit" class="btn btn-info" style="height:100%" value="提交评论" >
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="/static/src/js/jquery.shCircleLoader.js"></script>
<script src="/static/src/js/sco.tooltip.js"></script>
<script src="/static/src/js/colpick.js"></script>
<script src="/static/src/js/jquery.danmu.js"></script>
<script src="/static/src/js/main.js"></script>
<script>
$('#danmup').DanmuPlayer({
    src: '/media/{{ video.path }}',
    height: '450px',
    width: '650px',
    urlToGetDanmu: '/{{ video.id }}/getDanmu',
    urlToPostDanmu: '/{{ video.id }}/postDanmu'
});
</script>
{% endblock %}
